<!DOCTYPE html>
<html>
<head>
	<title>Loan Pridiction</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style type="text/css">
	.btn{
		background: linear-gradient(to bottom right, rgb(190, 29, 29), rgb(0, 0, 0));
		color: white;
	}
	.top{
		margin-top: 100px;
	}
	.fform{
		/*background-color: #340078;*/
		background-color: #eee;
		padding: 50px;
		margin-top: 70px;

	}
	.heading{
		background-color: #8d8597;
		padding: 10px;
		color: white;
		text-align: center;
	}
</style>
</head>
<body style="background: linear-gradient(to bottom right, rgb(78, 46, 46), rgb(75, 75, 121)); background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;">
	<div class="col-lg-12 back">
		<div class="container">
			<div class="col-lg-5 col-lg-offset-3 top">
				<div class="col-lg-12 heading">
					<h3><b>Enter details</b></h3>
				</div>
				<form class="form fform" action ="http://127.0.0.1:5000/prediction" method ="POST" >

					
                    <b>Choose Gender: </b>
						<input type="radio" name="gender" value='1'> Male
						<input type="radio" name="gender" value='2'> Female
						<br> <br>

					<b>Married: </b>
						<input type="radio" name="marriage" value='1'> Yes
						<input type="radio" name="marriage" value='2'> No
						<br> <br>


                    <b>Education: </b>
						<input type="radio" name="edu" value='1'> Graduate
						<input type="radio" name="edu" value='2'> Undergraduate
						<br> <br>


                        <b>Self employed: </b>
						<input type="radio" name="employ" value='1'> Yes
						<input type="radio" name="employ" value='2'> No
						<br> <br>

                        <div class="form-group">
						<input type="number" name="Income" placeholder="Applicant Income" class="form-control">
					</div>

                    <div class="form-group">
						<input type="number" name="CoapplicantIncome" placeholder="Coapplicant Income" class="form-control">
					</div>


                    <div class="form-group">
						<input type="number" name="LoanAmount" placeholder="Enter loan amount in thousands" class="form-control">
					</div>

                    <div class="form-group">
						<input type="number" name="Time" placeholder="Term of lean in months" class="form-control">
					</div>

                    
                    <div class="form-group">
						<input type="number" name="CreditHistory" placeholder="Credit History" class="form-control">
					</div>

                    <b>Property area: </b>
						<input type="radio" name="region" value='1'> Rural
                        <input type="radio" name="region" value='2'> Semiurban
						<input type="radio" name="region" value='3'> Urban
                        
						<br> <br>

                        	<div class="form-group">
						<input type="number" name="depender" placeholder="Number of dependents" class="form-control">
					</div>

						<div class="form-group">
							<input type="submit" name="submit" value="Submit" class="btn btn-md">
						</div>

						<div class="form-group">
							<b>(Yes = 1, No = 0) Loan Status = </b> {{ output }}
						</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>